In [64]:
import mysql.connector
from mysql.connector import errorcode
import pandas as pd
import numpy as np

In [67]:
import mysql.connector
import pandas as pd

# Función para limpiar los datos
def clean_data(row):
    # Lista de columnas que requieren limpieza de comas a puntos
    columns_with_commas = ['PerformanceRating', 'WorkLifeBalance', 'YearsInCurrentRole']

    # Crear una copia de la fila para evitar modificar el original
    cleaned_row = row.copy()
        
    # Reemplazar comas por puntos
    for column in columns_with_commas:
        if column in cleaned_row and isinstance(cleaned_row[column], str):
            cleaned_row[column] = cleaned_row[column].replace(',', '.')

    # Convertir valores numéricos si no son NaN
    numeric_columns = ['DailyRate', 'HourlyRate', 'MonthlyIncome', 'MonthlyRate', 'PercentSalaryHike', 'YearsInCurrentRole']
    for column in numeric_columns:
        if column in cleaned_row and pd.notna(cleaned_row[column]):
            cleaned_row[column] = float(cleaned_row[column])

    return cleaned_row

def insert_employees(df):
    # Conectar a la base de datos
    cnx = mysql.connector.connect(
        user='root', 
        password='AlumnaAdalab', 
        host='127.0.0.1', 
        database='ABC_Corporation'
    )
    mycursor = cnx.cursor()

    try:
        sql_insert_query = """ 
        INSERT INTO Employee (
            ID, Age, Attrition, BusinessTravel, DailyRate, Department,
            DistanceFromHome, Education, EducationField, EmployeeNumber,
            EnvironmentSatisfaction, Gender, HourlyRate, JobInvolvement, JobLevel,
            JobRole, JobSatisfaction, MaritalStatus, MonthlyIncome, MonthlyRate,
            NumCompaniesWorked, OverTime, PercentSalaryHike, PerformanceRating,
            RelationshipSatisfaction, StandardHours, StockOptionLevel, TotalWorkingYears,
            TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany, YearsInCurrentRole,
            YearsSinceLastPromotion, YearsWithCurrManager, DateBirth, RemoteWork
        ) VALUES (
            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, 
            %s, %s, %s, %s, %s, %s, %s, %s, %s, %s,
            %s, %s, %s, %s, %s, %s
        )
        ON DUPLICATE KEY UPDATE
            Age = VALUES(Age),
            Attrition = VALUES(Attrition),
            BusinessTravel = VALUES(BusinessTravel),
            DailyRate = VALUES(DailyRate),
            Department = VALUES(Department),
            DistanceFromHome = VALUES(DistanceFromHome),
            Education = VALUES(Education),
            EducationField = VALUES(EducationField),
            EmployeeNumber = VALUES(EmployeeNumber),
            EnvironmentSatisfaction = VALUES(EnvironmentSatisfaction),
            Gender = VALUES(Gender),
            HourlyRate = VALUES(HourlyRate),
            JobInvolvement = VALUES(JobInvolvement),
            JobLevel = VALUES(JobLevel),
            JobRole = VALUES(JobRole),
            JobSatisfaction = VALUES(JobSatisfaction),
            MaritalStatus = VALUES(MaritalStatus),
            MonthlyIncome = VALUES(MonthlyIncome),
            MonthlyRate = VALUES(MonthlyRate),
            NumCompaniesWorked = VALUES(NumCompaniesWorked),
            OverTime = VALUES(OverTime),
            PercentSalaryHike = VALUES(PercentSalaryHike),
            PerformanceRating = VALUES(PerformanceRating),
            RelationshipSatisfaction = VALUES(RelationshipSatisfaction),
            StandardHours = VALUES(StandardHours),
            StockOptionLevel = VALUES(StockOptionLevel),
            TotalWorkingYears = VALUES(TotalWorkingYears),
            TrainingTimesLastYear = VALUES(TrainingTimesLastYear),
            WorkLifeBalance = VALUES(WorkLifeBalance),
            YearsAtCompany = VALUES(YearsAtCompany),
            YearsInCurrentRole = VALUES(YearsInCurrentRole),
            YearsSinceLastPromotion = VALUES(YearsSinceLastPromotion),
            YearsWithCurrManager = VALUES(YearsWithCurrManager),
            DateBirth = VALUES(DateBirth),
            RemoteWork = VALUES(RemoteWork)
        """

        for index, row in df.iterrows():
            # Limpiar los datos de la fila
            cleaned_row = clean_data(row)
            
            # Ejecutar la consulta SQL
            mycursor.execute(sql_insert_query, (
                cleaned_row['ID'],
                cleaned_row['Age'],
                cleaned_row['Attrition'],
                cleaned_row['BusinessTravel'],
                cleaned_row['DailyRate'],
                cleaned_row['Department'],
                cleaned_row['DistanceFromHome'],
                cleaned_row['Education'],
                cleaned_row['EducationField'],
                cleaned_row['EmployeeNumber'],
                cleaned_row['EnvironmentSatisfaction'],
                cleaned_row['Gender'],
                cleaned_row['HourlyRate'],
                cleaned_row['JobInvolvement'],
                cleaned_row['JobLevel'],
                cleaned_row['JobRole'],
                cleaned_row['JobSatisfaction'],
                cleaned_row['MaritalStatus'],
                cleaned_row['MonthlyIncome'],
                cleaned_row['MonthlyRate'],
                cleaned_row['NumCompaniesWorked'],
                cleaned_row['OverTime'],
                cleaned_row['PercentSalaryHike'],
                cleaned_row['PerformanceRating'],
                cleaned_row['RelationshipSatisfaction'],
                cleaned_row['StandardHours'],
                cleaned_row['StockOptionLevel'],
                cleaned_row['TotalWorkingYears'],
                cleaned_row['TrainingTimesLastYear'],
                cleaned_row['WorkLifeBalance'],
                cleaned_row['YearsAtCompany'],
                cleaned_row['YearsInCurrentRole'],
                cleaned_row['YearsSinceLastPromotion'],
                cleaned_row['YearsWithCurrManager'],
                cleaned_row['DateBirth'],
                cleaned_row['RemoteWork']
            ))

        # Confirmar la transacción
        cnx.commit()
        print("Datos insertados correctamente.")

    except mysql.connector.Error as err:
        print(f"Error al insertar en la base de datos: {err}")

    finally:
        if cnx.is_connected():
            mycursor.close()
            cnx.close()
            print("Conexión a la base de datos cerrada.")

In [69]:
df = pd.read_csv("./data/hr_raw_data_limpio_BBDD.csv")

insert_employees(df)

Datos insertados correctamente.
Conexión a la base de datos cerrada.